$backgroundColor: #15023a;
$color: #fff;

footer {
	background-color: $backgroundColor;
	height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        margin: 0 30px;
        
        i {
            color: $color;
        }
    }
}
